<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            {{> header }}

            <div class="wrapper wrapper-content">
                {{{ body }}}
            </div>
            
            {{> footer }}
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- Socket io and threejs -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="//threejs.org/build/three.js"></script>
    <script src="js/OBJLoader.js"></script>
    <script src="js/MTLLoader.js"></script>
    <script src="js/FBXLoader.js"></script>
    <script src="js/client_world.js"></script>

    <script>
        socket.on('updatePosition', function(data){
            updatePlayerPosition(data);
        });

        socket.on('connect', function(){
            loadWorld();
            socket.emit('connectMultiplayerOne');
            socket.emit('requestOldPlayers', {});
        });

        socket.on('createPlayer', function(data){
            createPlayer(data);
            console.log('loco')
        });

        socket.on('addOtherPlayer', function(data){
            addOtherPlayer(data);
        });

        socket.on('removeOtherPlayer', function(data){
            removeOtherPlayer(data);
        });

        socket.on('shootBullet', function(data){
            shootBullet(data);
        })

        socket.on('endGame', function(data){
            finishAndPost();
        })
    </script>
</body>
</html>